@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));



:root {

  --background:#ffffff;
  --foreground:#171717;

}



/* MAIN BACKGROUND */

body {

  min-height:100vh;


  background-image:url('/images/HimShakti.jpg');


  background-size:100% 100%;


  background-position:center;


  background-repeat:no-repeat;


  background-attachment:fixed;


  color:white;


  font-family:Arial, Helvetica, sans-serif;


  transition:0.3s ease;

}



/* DARK MODE BACKGROUND */

.dark body {


  background-image:

  linear-gradient(
    rgba(0,0,0,0.65),
    rgba(0,0,0,0.65)
  ),

  url('/images/HimShakti.jpg');


  background-size:100% 100%;


  background-position:center;


  background-repeat:no-repeat;


  background-attachment:fixed;


}



/* NAVBAR */

nav {


  background:
  rgba(0,0,0,0.35);


  backdrop-filter:blur(10px);


  transition:0.3s;

}



.dark nav {


  background:
  rgba(0,0,0,0.65);


}



/* TEXT */

h1,
h2,
h3,
p {


  color:white;


  text-shadow:

  0 4px 12px rgba(0,0,0,0.8);


}



/* GLASS CARDS */

.grid > div {


  background:

  rgba(0,0,0,0.35);



  backdrop-filter:blur(8px);



  border:

  1px solid rgba(255,255,255,0.4);



  border-radius:20px;



  transition:0.3s;


}




/* DARK GLASS CARDS */


.dark .grid > div {


  background:

  rgba(0,0,0,0.65);



  border:

  1px solid rgba(255,255,255,0.2);


}




/* FOOTER */


footer {


  background:

  rgba(0,0,0,0.35);



  backdrop-filter:blur(10px);



  transition:0.3s;


}



.dark footer {


  background:

  rgba(0,0,0,0.65);


}